.eachf{
    background-color: rgb(177, 177, 236);
    box-shadow: 1.6px 1.6px 4.9px rgb(94, 89, 89);
    border-radius: 9px;
    padding-top: 0.8em;
    padding-bottom: 1.3em;
    text-align: center;
    height: 35px;
    width: 100%;
    margin-top: 1em;
}

.eachf > button{
    border: none;
    float: right;
    margin-right: 0.7em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    height: 3.4em;
    width: 5.7em;
    border-radius: 10px;
}
.eachf > button:hover{
    box-shadow: 0.5px 0.5px 8px rgb(94, 89, 89);
    background-image: linear-gradient(to right, rgb(220, 236, 222) , rgb(168, 231, 172));
}

.eachf > span{
    font-size: 1.5em;
    font-weight: unset;
}