.maincontainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.maincontainer > div{
    width: 30%;
    height: 60vh;
    border-radius: 15px;
    border: 1px solid black;
    padding:1em 1em;
}

h4{
    text-align: center;
    font-size: 2.3em;
    margin: 0px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-style: oblique;
    color: rgb(132, 132, 214);
}

.eachf{
    background-color: rgb(177, 177, 236);
    box-shadow: 1.6px 1.6px 4.9px rgb(94, 89, 89);
    border-radius: 9px;
    padding-top: 0.8em;
    padding-bottom: 1.3em;
    text-align: center;
    height: 35px;
    width: 100%;
    margin-top: 1em;
}

.eachf > button{
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    height: 3.4em;
    width: 5.7em;
    border-radius: 10px;
}

.eachf > button:hover{
    box-shadow: 0.5px 0.5px 8px rgb(94, 89, 89);
}

.eachf > button:nth-of-type(1){
    margin-left: 0.7em;
    float: left;
}
.eachf > button:nth-of-type(1):hover{
    background-image: linear-gradient(to left, rgb(220, 236, 222) , rgb(168, 231, 172));
}

.eachf > button:nth-of-type(2){
    float: right;
    margin-right: 0.7em;
    transition: background-image 3s;
}
.eachf > button:nth-of-type(2):hover{
    background-image: linear-gradient(to right, rgb(220, 236, 222) , rgb(168, 231, 172));
}

.eachf > span{
    font-size: 1.5em;
    font-weight: unset;
}